
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="/src/tech-users/tech-users.html">
<link rel="import" href="/src/tech-movimientos/tech-movimientos.html">
<link rel="import" href="/src/tech-map/tech-map.html">
<link rel="import" href="/src/tech-clientes/tech-clientes.html">

<dom-module id="tech-menu">
  <template>
    <style>
      :host {
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
          <app-toolbar>Menu</app-toolbar>
          <iron-selector selected="{{page}}" class="drawer-list" role="navigation">
            <a href="#">Consultar Usuarios</a>
            <a href="#">Consultar Movimientos</a>
            <a href="#">Mapa</a>
            <a href="#">Clientes</a>
            <a href="index.html">Salir</a>
          </iron-selector>
        </app-drawer>
      </app-drawer-layout>

      <iron-pages selected="[[page]]" role="main">
          <tech-users></tech-users>
          <tech-movimientos cliente="{{cliente}}"></tech-movimientos>
          <tech-map></tech-map>
          <tech-clientes></tech-clientes>
      </iron-pages>
  </template>

  <script>
    class TechMenu extends Polymer.Element {
      static get is() {
        return 'tech-menu';
      }
      static get properties() {
        return {
          cliente: {
            type: Number,
            notify: true,
            reflectToAttribute: true
          },
          page: {
            type: String,
            notify: true
          }
        };
      }

      constructor() {
         super();
       }

       attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
         super.attributeChangedCallback();
       }

    }
    window.customElements.define(TechMenu.is, TechMenu);
  </script>
</dom-module>
