<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="simple-overlay.html">

<dom-module id="tech-movimientos">
  <template>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style>
      :host {
        display: block;
      }
      .container{
        background: rgba(255, 255, 255,0.9);
      }
    </style>

    <div class="container" style="margin-left: 19.5%; width:1050px">
    	<div class="row">
        <div class="col-md-12">
          <h4>Consulta de Movimientos</h4>
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
      				  <th>Cliente</th>
                <th># Movimiento</th>
                <th>Cuenta</th>
                <th>Fecha</th>
                <th>Importe</th>
                <th>Tipo</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </thead>
              <tbody>
                <template is="dom-repeat" items="{{movimientos}}">
                <tr>
                  <td>[[item.idcliente]]</td>
                  <td>[[item.idmovimiento]]</td>
                  <td>[[item.idcuenta]]</td>
                  <td>[[item.fecha]]</td>
                  <td>[[item.importe]]</td>
                  <td>[[item.tipo]]</td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit">
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" on-click="openEditing" ><span class="glyphicon glyphicon-pencil"></span></button></p>
                  </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button  class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" on-click="openDeleting"><span class="glyphicon glyphicon-trash"></span></button></p>
                  </td>
                </tr>
                </template>
              </tbody>
            </table>
            <p data-placement="top" data-toggle="tooltip" title="New"><button  class="btn btn-primary btn-sm" data-title="New" data-toggle="modal" data-target="#new" on-click="openAdding"><span class="glyphicon glyphicon-plus"></span> Nuevo</button></p>
          </div>
        </div>
    	</div>
    </div>
    <!-- Editar/Modificar Movimientos -->
    <simple-overlay id='editing' tabindex="-1" with-backdrop no-cancel-on-outside-click>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" on-click="closeEditing"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Edición</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input class="form-control " type="text" placeholder="Número de Cuenta" value="{{cuenta::input}}">
            </div>
            <div class="form-group">
              <div class="input-group date">
                <input class="form-control" type="date"  placeholder="Fecha de Operación" required value="{{fecha::input}}">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="form-group">
    		      <input class="form-control " type="text" placeholder="Importe de la Operación" value="{{importe::input}}">
    		    </div>
            <div class="form-group">
              <select class="form-control" placeholder="Tipo de Operación" required value="{{tipo::input}}">
                <option>Retiro</option>
                <option>Depósito</option>
                <option>Cobro</option>
                <option>Pago</option>
              </select>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" on-click="saveEditing"><span class="glyphicon glyphicon-ok-sign"></span>Actualizar</button>
          </div>
        </div>
      </div>
    </simple-overlay>
    <!-- Eliminar Movimientos -->
    <simple-overlay id='deleting' tabindex="-1" with-backdrop no-cancel-on-outside-click>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" on-click="closeDeleting"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Borrar Movimiento</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> ¿Está seguro de borrar este movimiento?</div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-success" on-click="saveDeleting" ><span class="glyphicon glyphicon-ok-sign"></span> Si</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" on-click="closeDeleting"><span class="glyphicon glyphicon-remove"></span> No</button>
          </div>
        </div>
      </div>
    </simple-overlay>
    <!-- Agregar Movimientos -->
    <simple-overlay id='adding' tabindex="-1" with-backdrop no-cancel-on-outside-click>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" on-click="closeAdding"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Alta de Movimientos</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" id="myForm">
              <input class="form-control" id="cuenta" type="text" placeholder="Número de Cuenta" required></br>
              <div class="input-group date">
                <input class="form-control" id="fecha" type="date" required">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div></br>
    		      <input class="form-control" id="importe" type="text" placeholder="Importe de la Operación" required></br>
              <select class="form-control" id="tipo" placeholder="Tipo de Operación" required>
                <option>Retiro</option>
                <option>Depósito</option>
                <option>Cobro</option>
                <option>Pago</option>
              </select></br>
              <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" on-click="saveAdding"><span class="glyphicon glyphicon-ok-sign"></span>Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </simple-overlay>

  </template>

  <script>
    class TechMovimientos extends Polymer.Element {
      static get is() { return 'tech-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            notify: true
          },
          id: {
            type: String,
            notify: true
          },
          cliente: {
            type: Number,
            notify: true,
            reflectToAttribute: true
          },
          movimiento: {
            type: Number,
            notify: true
          },
          cuenta: {
            type: String,
            notify: true
          },
          fecha: {
            type: String,
            notify: true
          },
          importe: {
            type: Number,
            notify: true
          },
          tipo: {
            type: String,
            notify: true
          }
        };
      }

      constructor() {
         super();
       }

       attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
         super.attributeChangedCallback();
         this.obtenerMovimientos(this.cliente);
       }

       obtenerMovimientos(idcliente) {
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/movimientos?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x&q={'idcliente':";
         linkFiltro = linkFiltro + idcliente + "}";

         var request = new XMLHttpRequest();
         request.open("GET", linkFiltro, false);
         request.setRequestHeader("Accept", "application/json");
         request.send();
         this.movimientos = JSON.parse(request.responseText);
       }

       openEditing(e) {
         // this.cliente = this.movimientos[e.model.index].idcliente;
         this.movimiento = this.movimientos[e.model.index].idmovimiento;
         this.cuenta = this.movimientos[e.model.index].idcuenta;
         this.fecha = this.movimientos[e.model.index].fecha;
         this.importe = this.movimientos[e.model.index].importe;
         this.tipo = this.movimientos[e.model.index].tipo;
         this.$.editing.open();
       }

       saveEditing() {
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/movimientos?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x&q={'idcliente':";
         linkFiltro = linkFiltro + this.cliente;
         linkFiltro = linkFiltro + ",'idmovimiento':"+ this.movimiento + "}";

         var stream = "{$set:{'idcuenta':'" + this.cuenta + "',";
         stream = stream + "'fecha':'" + this.fecha + "',";
         stream = stream + "'importe':" + this.importe + ",";
         stream = stream + "'tipo':'" + this.tipo + "'}}";

         var request = new XMLHttpRequest();
         request.open("PUT", linkFiltro, false);
         request.setRequestHeader("Content-Type", "application/json");
         request.send(stream);

         this.closeEditing();
         this.obtenerMovimientos(this.cliente);
       }

       closeEditing(){
         this.$.editing.close();
       }

       openDeleting(e) {
         this.id = this.movimientos[e.model.index]._id.$oid;
         this.$.deleting.open();
       }

       saveDeleting(){
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/movimientos/";
         linkFiltro = linkFiltro + this.id + "?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x&q";

         var request = new XMLHttpRequest();
         request.open("DELETE", linkFiltro, false);
         request.setRequestHeader("Accept", "application/json");
         request.send();

         this.closeDeleting();
         this.obtenerMovimientos(this.cliente);
       }

       closeDeleting(){
         this.$.deleting.close();
       }

       openAdding(){
         this.$.adding.open();
       }

       saveAdding(){
         // Validar los campos
         if (this.$.cuenta.value == undefined || this.$.cuenta.value.trim() == '' || this.$.cuenta.value == null) {
           alert("¡La Cuenta no puede estar vacía!");
           return;
         }
         if (this.$.fecha.value == undefined || this.$.fecha.value.trim() == '' || this.$.fecha.value == null || this.$.fecha.value.trim() == 'dd/mm/aaaa') {
           alert("¡Seleccione una fecha correcta!");
           return;
         }
         if (this.$.importe.value == undefined || this.$.importe.value.trim() == '' || this.$.importe.value == null) {
           alert("¡El importe no puede estar vacío!");
           return;
         }
         if (this.$.tipo.value == undefined || this.$.tipo.value.trim() == '' || this.$.tipo.value == null) {
           alert("¡El tipo de movimiento no puede estar vacío!");
           return;
         }
         // Calcular el id del movimiento
         this.movimiento = this.calculaMovimiento();
         // Guardar la información
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/movimientos?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x";

         // var stream = "{'idcliente':" + this.movimientos[0].idcliente + ","; //Cambiar por la variable global
         var stream = "{'idcliente':" + this.cliente + ",";
         stream = stream + "'idcuenta':'" + this.$.cuenta.value + "',";
         stream = stream + "'idmovimiento':" + this.movimiento + ",";
         stream = stream + "'fecha':'" + this.$.fecha.value + "',";
         stream = stream + "'importe':" + this.$.importe.value + ",";
         stream = stream + "'tipo':'" + this.$.tipo.value + "'}";
         // console.log(stream);
         var request = new XMLHttpRequest();
         request.open("POST", linkFiltro, false);
         request.setRequestHeader("Content-Type", "application/json");
         request.send(stream);
         // Enviar mensaje
         alert("¡Se agregó un nuevo movimiento!");
         // Borrar formulario
         this.borrarFormulario();
         // Cerrar el formulario
         this.closeAdding();
         // Actualizar la tabla
         this.obtenerMovimientos(this.cliente);
       }

       closeAdding(){
         this.borrarFormulario();
         this.$.adding.close();
       }

       borrarFormulario(){
         this.$.cuenta.value = "";
         this.$.fecha.value = "";
         this.$.importe.value = "";
         this.$.tipo.value = "Retiro";
       }

       calculaMovimiento(){
         var a = 0;
         this.movimientos.forEach(function (valor) {
           if(valor.idmovimiento > a){
             a = valor.idmovimiento;
           }
         });
         // console.log(a);
         a = a + 1;
         return a;
       }
    }
    window.customElements.define(TechMovimientos.is, TechMovimientos);
  </script>
</dom-module>
