<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/css/shared-styles.html">

<dom-module id="tech-register">
  <template>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <div class="panel-body">
      <form role="form" action="#" method="POST">
        <fieldset>
          <!-- Imagen user -->
          <div class="row">
            <div class="center-block">
              <img class="profile-img" src="https://s3.amazonaws.com/mb79705-project/user.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
              <!-- IdCliente -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-users fa"></i>
                  </span>
                  <input class="form-control" id="idCliente" placeholder="IdCliente" name="loginname" type="text" readonly="readonly" autofocus>
                </div>
              </div>
              <!-- Nombre -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input class="form-control" id="nombre" placeholder="Nombre" name="name" type="text" autofocus>
                </div>
              </div>
              <!-- Apellido -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input class="form-control" id="apellido" placeholder="Apellido" name="lastname" type="text" autofocus>
                </div>
              </div>
              <!-- Email -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope fa"></i>
                  </span>
                  <input class="form-control" id="email" placeholder="Email" name="email" id="email" type="text" autofocus>
                </div>
              </div>
              <!-- Contraseña -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </span>
                  <input class="form-control" id="pwd" placeholder="Contraseña" name="password" type="password" value="">
                </div>
              </div>
              <!-- Confirmar Contraseña -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </span>
                  <input class="form-control" id="pwd1" placeholder="Confirmar Contraseña" name="confirm" type="password" value="">
                </div>
              </div>
              <!-- Boton Ingresar -->
              <div class="form-group">
                <!-- <input type="submit" class="btn btn-lg btn-primary btn-block" on-click="altaRegistro"> -->
                <button type="button" class="btn btn-lg btn-primary btn-block" on-click="altaRegistro">Alta de Usuario</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechRegister extends Polymer.Element {
      static get is() { return 'tech-register'; }
      static get properties() {
        return {
          usuarios: {
            type: Array,
            notify: true
          },
          idCliente: {
            type: String
          },
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          email: {
            type: String
          },
          pwd1: {
            type: String
          },
          pwd2: {
            type: String
          },
          msgError: {
            type: String,
            value: 'none'
          },
          error: {
            type: String,
            notify: true
          }
        };
      }
      constructor() {
         super();
      }

      connectedCallback() {
        super.connectedCallback();
        // console.log('Ejecutándose connectedCallback en tech-register');
        this.obtenerUsuarios();
        //El Id es calculado y no se puede modificar
        this.$.idCliente.value = this.calculaIdUsuario();

      }

      obtenerUsuarios() {
        var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/usuarios?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x";

        var request = new XMLHttpRequest();
        request.open("GET", linkFiltro, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.usuarios = JSON.parse(request.responseText);
        // console.log(this.usuarios);
      }

      altaRegistro(){
        //Validar que los datos no estén vacíos
        if (this.$.nombre.value == undefined || this.$.nombre.value.trim() == '' || this.$.nombre.value == null) {
          alert("¡El Nombre no puede estar vacío!");
          return;
        }
        if (this.$.apellido.value == undefined || this.$.apellido.value.trim() == '' || this.$.apellido.value == null) {
          alert("¡El Apellido no puede estar vacío!");
          return;
        }
        if (this.$.email.value == undefined || this.$.email.value.trim() == '' || this.$.email.value == null) {
          alert("¡El Email no puede estar vacío!");
          return;
        }
        if (this.$.pwd.value == undefined || this.$.pwd.value.trim() == '' || this.$.pwd.value == null) {
          alert("¡El Password no puede estar vacío!");
          return;
        }
        if (this.$.pwd1.value == undefined || this.$.pwd1.value.trim() == '' || this.$.pwd1.value == null) {
          alert("¡Debe confirmar el Password!");
          return;
        }
        //Validar que el pwd sea igual a pwd1
        if(this.$.pwd.value != this.$.pwd1.value){
          alert("¡Los passwords deben coincidir, verifique!");
          return;
        }
        //Validar que el correo electronico no exista
        if(this.validaCorreo(this.$.email.value)){
          alert("¡El correo ya existe, verifique!");
          return;
        }
        //Dar de alta el registro
        var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/usuarios?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x";

        var stream = "{'idcliente':" + this.$.idCliente.value + ",";
        stream = stream + "'nombre':'" + this.$.nombre.value + "',";
        stream = stream + "'apellido':'" + this.$.apellido.value + "',";
        stream = stream + "'email':'" + this.$.email.value + "',";
        stream = stream + "'password':'" + this.$.pwd.value + "'}";
        // console.log(stream);
        var request = new XMLHttpRequest();
        request.open("POST", linkFiltro, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(stream);
        // Enviar mensaje
        alert("¡Registro Satisfactorio!");
        // Obtener nuevamente la tabla usuarios
        this.obtenerUsuarios();
        // Borrar formulario
        this.borrarFormulario();
      }

      calculaIdUsuario(){
        var a = 0;
        this.usuarios.forEach(function (valor) {
          if(valor.idcliente > a){
            a = valor.idcliente;
          }
        });
        // console.log(a);
        a = a + 1;
        return a;
      }

      validaCorreo(email){
        var a = false;
        this.usuarios.forEach(function (valor) {
          if(valor.email == email){
            a = true;
          }
        });
        // console.log(a);
        return a;
      }

      borrarFormulario(){
        this.$.idCliente.value = this.calculaIdUsuario();
        this.$.nombre.value = "";
        this.$.apellido.value = "";
        this.$.email.value = "";
        this.$.pwd.value = "";
        this.$.pwd1.value = "";
      }

    }
    window.customElements.define(TechRegister.is, TechRegister);
  </script>
</dom-module>
