<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="/simple-overlay.html">

<dom-module id="tech-users">
  <template>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style>
      :host {
        display: block;
      }
      .container{
        background: rgba(255, 255, 255,0.9);
      }
    </style>

    <div class="container" style="margin-left: 19.5%; width:1050px">
    	<div class="row">
        <div class="col-md-12">
          <h4>Consulta de Usuarios</h4>
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                <th>Id Cliente</th>
      				  <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </thead>
              <tbody>
                <template is="dom-repeat" items="{{usuarios}}">
                <tr>
                  <td>[[item.idcliente]]</td>
                  <td>[[item.nombre]]</td>
                  <td>[[item.apellidos]]</td>
                  <td>[[item.email]]</td>
                  <td>[[item.password]]</td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit">
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" on-click="openEditing" ><span class="glyphicon glyphicon-pencil"></span></button></p>
                  </td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button  class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" on-click="openDeleting"><span class="glyphicon glyphicon-trash"></span></button></p>
                  </td>
                </tr>
                </template>
              </tbody>
            </table>
            <p data-placement="top" data-toggle="tooltip" title="New"><button  class="btn btn-primary btn-sm" data-title="New" data-toggle="modal" data-target="#new" on-click="openAdding"><span class="glyphicon glyphicon-plus"></span> Nuevo</button></p>
          </div>
        </div>
    	</div>
    </div>
    <!-- Editar/Modificar Clientes -->
    <simple-overlay id='editing' tabindex="-1" with-backdrop no-cancel-on-outside-click>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" on-click="closeEditing"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Edición</h4>
          </div>
          <div class="modal-body">
            <!-- <div class="form-group">
              <input class="form-control " type="text" placeholder="Usuario" value="{{usuario::input}}">
            </div> -->
            <div class="form-group">
              <input class="form-control" type="text"  placeholder="Nombre" required value="{{nombre::input}}">
            </div>
            <div class="form-group">
    		      <input class="form-control " type="text" placeholder="Apellidos" required value="{{apellidos::input}}">
    		    </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Email" required value="{{email::input}}">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Password" required value="{{password::input}}">
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" on-click="saveEditing"><span class="glyphicon glyphicon-ok-sign"></span>Actualizar</button>
          </div>
        </div>
      </div>
    </simple-overlay>
    <!-- Eliminar Usuarios -->
    <simple-overlay id='deleting' tabindex="-1" with-backdrop no-cancel-on-outside-click>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" on-click="closeDeleting"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Borrar Usuario</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> ¿Está seguro de borrar este usuario?</div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-success" on-click="saveDeleting" ><span class="glyphicon glyphicon-ok-sign"></span> Si</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" on-click="closeDeleting"><span class="glyphicon glyphicon-remove"></span> No</button>
          </div>
        </div>
      </div>
    </simple-overlay>
    <!-- Agregar Usuarios -->
    <simple-overlay id='adding' tabindex="-1" with-backdrop no-cancel-on-outside-click>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" on-click="closeAdding"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Alta de Usuarios</h4>
          </div>
          <div class="modal-body">
            <div class="form-group" id="myForm">
              <!-- <input class="form-control" id="usuario" type="text" placeholder="Usuario" required></br> -->
              <input class="form-control" id="nombre" type="text" placeholder="Nombre" required></br>
    		      <input class="form-control" id="apellidos" type="text" placeholder="Apellidos" required></br>
              <input class="form-control" id="email" placeholder="Email" required></br>
              <input class="form-control" id="password" placeholder="Password" required></br>
              <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" on-click="saveAdding"><span class="glyphicon glyphicon-ok-sign"></span>Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </simple-overlay>

  </template>

  <script>
    class TechUsers extends Polymer.Element {
      static get is() { return 'tech-users'; }
      static get properties() {
        return {
          usuarios: {
            type: Array,
            notify: true
          },
          id: {
            type: String,
            notify: true
          },
          cliente: {
            type: Number,
            notify: true
          },
          nombre: {
            type: Number,
            notify: true
          },
          apellidos: {
            type: String,
            notify: true
          },
          email: {
            type: String,
            notify: true
          },
          password: {
            type: Number,
            notify: true
          }
        };
      }

      constructor() {
         super();
       }

       connectedCallback() {
         super.connectedCallback();
         this.obtenerUsuarios();
       }

       attributeChangedCallback(nombre, valorAnterior, valorNuevo) {
         super.attributeChangedCallback();
         this.obtenerUsuarios();
       }

       obtenerUsuarios() {
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/usuarios?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x";

         var request = new XMLHttpRequest();
         request.open("GET", linkFiltro, false);
         request.setRequestHeader("Accept", "application/json");
         request.send();
         this.usuarios = JSON.parse(request.responseText);
       }

       openEditing(e) {
         this.cliente = this.usuarios[e.model.index].idcliente;
         this.nombre = this.usuarios[e.model.index].nombre;
         this.apellidos = this.usuarios[e.model.index].apellidos;
         this.email = this.usuarios[e.model.index].email;
         this.password = this.usuarios[e.model.index].password;
         this.$.editing.open();
       }

       saveEditing() {
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/movimientos?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x&q={'idcliente':";
         linkFiltro = linkFiltro + this.cliente + "}";
         // linkFiltro = linkFiltro + ",'idmovimiento':"+ this.movimiento + "}";

         var stream = "{$set:{'nombre':'" + this.nombre + "',";
         stream = stream + "'apellidos':'" + this.apellidos + "',";
         stream = stream + "'email':" + this.email + ",";
         stream = stream + "'password':'" + this.password + "'}}";

         var request = new XMLHttpRequest();
         request.open("PUT", linkFiltro, false);
         request.setRequestHeader("Content-Type", "application/json");
         request.send(stream);

         this.closeEditing();
         this.obtenerUsuarios();
       }

       closeEditing(){
         this.$.editing.close();
       }

       openDeleting(e) {
         this.id = this.usuarios[e.model.index]._id.$oid;
         this.$.deleting.open();
       }

       saveDeleting(){
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/usuarios/";
         linkFiltro = linkFiltro + this.id + "?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x&q";

         var request = new XMLHttpRequest();
         request.open("DELETE", linkFiltro, false);
         request.setRequestHeader("Accept", "application/json");
         request.send();

         this.closeDeleting();
         this.obtenerUsuarios();
       }

       closeDeleting(){
         this.$.deleting.close();
       }

       openAdding(){
         this.$.adding.open();
       }

       saveAdding(){
         // // Validar los campos
         // if (this.$.cliente.value == undefined || this.$.cliente.value.trim() == '' || this.$.cliente.value == null) {
         //   alert("¡El Cliente no puede estar vacío!");
         //   return;
         // }
         // if (this.$.fecha.value == undefined || this.$.fecha.value.trim() == '' || this.$.fecha.value == null || this.$.fecha.value.trim() == 'dd/mm/aaaa') {
         //   alert("¡Seleccione una fecha correcta!");
         //   return;
         // }
         // if (this.$.importe.value == undefined || this.$.importe.value.trim() == '' || this.$.importe.value == null) {
         //   alert("¡El importe no puede estar vacío!");
         //   return;
         // }
         // if (this.$.tipo.value == undefined || this.$.tipo.value.trim() == '' || this.$.tipo.value == null) {
         //   alert("¡El tipo de movimiento no puede estar vacío!");
         //   return;
         // }
         // // Calcular el id del movimiento
         this.cliente = this.calculaCliente();
         // Guardar la información
         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/usuarios?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x";

         var stream = "{'idcliente':" + this.cliente + ",";
         stream = stream + "'nombre':'" + this.$.nombre.value + "',";
         stream = stream + "'apellidos':'" + this.$.apellidos.value + "',";
         stream = stream + "'email':'" + this.$.email.value + "',";
         stream = stream + "'password':'" + this.$.password.value + "'}";
         // console.log(stream);
         var request = new XMLHttpRequest();
         request.open("POST", linkFiltro, false);
         request.setRequestHeader("Content-Type", "application/json");
         request.send(stream);
         // Enviar mensaje
         alert("¡Se agregó un nuevo usuario!");
         // Borrar formulario
         this.borrarFormulario();
         // Cerrar el formulario
         this.closeAdding();
         // Actualizar la tabla
         this.obtenerUsuarios();
       }

       closeAdding(){
         this.borrarFormulario();
         this.$.adding.close();
       }

       borrarFormulario(){
         // this.cliente.value = "";
         this.$.nombre.value = "";
         this.$.apellidos.value = "";
         this.$.email.value = "";
         this.$.password.value = "";
       }

       calculaCliente(){
         var a = 0;
         this.usuarios.forEach(function (valor) {
           if(valor.idcliente > a){
             a = valor.idcliente;
           }
         });
         // console.log(a);
         a = a + 1;
         return a;
       }
    }
    window.customElements.define(TechUsers.is, TechUsers);
  </script>
</dom-module>
