<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="/src/css/shared-styles.html">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="import" href="/src/tech-login/tech-login.html">
<link rel="import" href="/src/tech-register/tech-register.html">

<dom-module id="tech-authentication">
  <template>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <style include="shared-styles">
      :host {
        display: block;
      }
      .collapse-content-login, .collapse-content-register {
        background: rgba(247, 247, 247,0.8);
      }
      div.panel.panel-heading {
        margin: 0;
      }
    </style>
    <div class="container" style="margin-top:40px">
      <div class="row">
        <header>
          <h1>Acceso Proyecto TechU4</h1>
        </header>
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel panel-heading">
              <!-- Imagenes almacenadas en un bucket (mb79705-project) de S3 -->
              <h1>
                <img id="logo" src="https://s3.amazonaws.com/mb79705-project/logo.png" heigth="50px" width="260px">
              </h1>
            </div>
            <!-- Utiliza iron-collapse para interactuar con el login y el registro de usuarios -->
            <iron-collapse class="collapse-content-login" opened="[[desplegadoLogin]]">
                <tech-login cliente={{cliente}} password={{password}} error={{error}}></tech-login>
                [[validaAcceso(cliente,password,error)]]
            </iron-collapse>
            <iron-collapse class="collapse-content-register" opened="[[desplegadoRegister]]">
                <tech-register></tech-register>
            </iron-collapse>
            <div class="panel-footer ">
                [[descAccion]]<a on-click="toggle" name="register" href="#"> [[nameAccion]] </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechAuthentication extends Polymer.Element {
      static get is() { return 'tech-authentication'; }
      static get properties() {
        return {
          nameAccion: {
            type: String,
            value: 'Registro'
          },
          cliente: {
            type: Number,
            notify: true
          },
          descAccion: {
            type: String,
            value: 'Alta de Usuario: '
          },
          desplegadoLogin: {
            type: Boolean,
            value: true,
            notify: true
          },
          desplegadoRegister: {
            type: Boolean,
            value: false,
            notify: true
          },
          componente: {
            type: Number,
            value: 0,
            notify: true
          }
        };
      }

      constructor() {
         super();
       }

      toggle() {
        if(this.desplegadoLogin){
          this.descAccion = '';
          this.nameAccion = 'Ingresar';
        }else{
          this.descAccion = 'Alta de Usuario: ';
          this.nameAccion = 'Registro';
        }
        this.desplegadoLogin = !this.desplegadoLogin;
        this.desplegadoRegister = !this.desplegadoRegister;
      }

      validaAcceso(cliente,password,error) {
        // console.log(error);
        if(error != undefined) {
          /*Asignar las variables para accesar*/
          // console.log('Desde tech-authentication, El cliente es: ' + cliente);
          this.cliente = cliente;
          this.componente = 1;
        }else {
          // console.log('No accesa');
          this.componente = 0;
        }
      }

    }

    window.customElements.define(TechAuthentication.is, TechAuthentication);
  </script>
</dom-module>
