<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/css/shared-styles.html">

<dom-module id="tech-login">
  <template>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <style include="shared-styles">
      :host {
        display: block;
      }
      #oculto {
        color: red;
        font: oblique 100% cursive;
      }
    </style>
    <div class="panel-body">
      <!-- <form role="form" action="#" method="POST"> -->
      <form role="form" action="#">
        <fieldset>
          <!-- Imagen user -->
          <div class="row">
            <div class="center-block">
              <img class="profile-img" src="https://s3.amazonaws.com/mb79705-project/user.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
              <!-- IdCliente -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input class="form-control" placeholder="IdCliente" name="loginname" type="text" autofocus required="required" value="{{idCliente::input}}">
                </div>
              </div>
              <!-- Contraseña -->
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </span>
                  <input class="form-control" placeholder="Contraseña" name="password" type="password" required="required" value={{pwd::input}}>
                </div>
              </div>
              <!-- Boton Ingresar -->
              <div class="form-group">
                <button type="button" class="btn btn-lg btn-primary btn-block" on-click="obtenerUsuario">Ingresar</button>
                <p id="oculto" style="display:[[msgError]]">El IdCliente / Contraseña son incorrectos.</p>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TechLogin extends Polymer.Element {
      static get is() { return 'tech-login'; }
      static get properties() {
        return {
          usuario: {
            type: Array,
            notify: true
          },
          idCliente: {
            type: String
          },
          pwd: {
            type: String
          },
          msgError: {
            type: String,
            value: 'none'
          },
          cliente: {
            type: String,
            notify: true
          },
          password: {
            type: String,
            notify: true
          },
          error: {
            type: String,
            notify: true
          }
        };
      }

      constructor() {
         super();
       }

       obtenerUsuario(){
         // console.log('Entró a obtenerUsuario');
         if(this.idCliente == undefined || this.idCliente.trim() == '' || this.idCliente == null) {
           alert("¡El idCliente no puede estar vacío!");
           return;
         }
         if(this.pwd == undefined || this.pwd.trim() == '' || this.pwd == null) {
           alert("¡La Contraseña no puede estar vacía!");
           return;
         }

         var linkFiltro = "https://api.mlab.com/api/1/databases/bdbanca4mb79705/collections/usuarios?apiKey=bBufAh3JB23NMIlFkr-VtvDvGEbxfc2x&q={'idcliente':";
         linkFiltro = linkFiltro + this.idCliente + ",";
         linkFiltro = linkFiltro + "'password':'" + this.pwd + "'}";

         var request = new XMLHttpRequest();
         request.open("GET", linkFiltro, false);
         request.setRequestHeader("Accept", "application/json");
         request.send();
         this.usuario = JSON.parse(request.responseText);
         if (this.usuario.length == 0){
           this.msgError = 'block';
         }else{
           this.msgError = 'none';
           // alert('Ingreso correcto.');
           this.cliente = this.idCliente;
           this.password = this.pwd;
           this.error = this.msgError;
         }
       }

    }
    window.customElements.define(TechLogin.is, TechLogin);
  </script>
</dom-module>
