<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- <link rel="import" href="../../polymer/polymer.html"> -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">

<dom-module id="simple-overlay">
  <template>
    <style>
      :host {
        background: rgba(255, 255, 255, 0);
        /* background: white; */
        color: black;
        padding: 24px;
        /* margin: auto; */
        /* padding-bottom: 100px; */
        /* box-shadow: rgba(0, 0, 0, 0.24) -2px 5px 12px 0px, rgba(0, 0, 0, 0.12) 0px 0px 12px 0px; */
      }
    </style>
    <slot></slot>
  </template>

</dom-module>

<script>

(function() {

  Polymer({

    is: 'simple-overlay',

    behaviors: [
      Polymer.IronOverlayBehavior
    ]

  });

})();

</script>
