<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/simple-overlay.html">

<dom-module id="tech-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .container{
        background: rgba(255, 255, 255,0.9);
      }
    </style>
    <div class="container" style="margin-left: 19.5%; width:1050px;">
      <div class="row">
        <h1 class="col-rg-12">Gestor de Clientes</h1>
      </div>
      <button type="button" class="btn btn-info col-lg-4 col-xs-12" name="button" on-click="obtenerClientes">Obtener Clientes</button></br>
      <div class="row">
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    class TechClientes extends Polymer.Element {
      static get is() { return 'tech-clientes';}
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
    }
    window.customElements.define(TechClientes.is, TechClientes);
  </script>

</dom-module>
