<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="tech-map">
  <template>
    <style>
      :host {
        display: block;
        margin-left: 19.5%;
      }
      google-map {
        height: 500px;
        width: 1050px;
      }
    </style>

    <google-map latitude="19.441272" longitude="-99.183642" zoom="17" fit-to-markers>
      <google-map-marker latitude="19.441272" longitude="-99.183642"
          draggable="true" title="BBVA México"></google-map-marker>
    </google-map>

  </template>

  <script>
    class TechMap extends Polymer.Element {
      static get is() {
        return 'tech-map';
      }

      constructor() {
         super();
       }

    }
    window.customElements.define(TechMap.is, TechMap);
  </script>

</dom-module>
