<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      @font-face {
        font-family: 'Raleway', sans-serif;
      }

      #logo {
      	display: block;
      	margin: auto;
      }

      .row > header{
      	margin: 0px 20px 10px 20px;
      	position: relative;
      	display: block;
      	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        text-align: center;
      }

      .row > header h1{
      	font-family: 'Raleway', sans-serif;
      	font-size: 35px;
      	line-height: 35px;
      	position: relative;
        text-align: center;
        width: 100%;
      	color:#FFF;
          padding: 0px 0px 5px 0px;
      	font-weight:600;
      }

      .panel-default {
        background: rgba(247, 247, 247,0.8);
      }

      .panel-heading {
          padding: 5px 15px;
      }

      .panel-footer {
      	padding: 1px 15px;
      	color: #A0A0A0;
        text-align: center;
      }

      .profile-img {
      	width: 96px;
      	height: 96px;
      	margin: 0 auto 10px;
      	display: block;
      	-moz-border-radius: 50%;
      	-webkit-border-radius: 50%;
      	border-radius: 50%;
      }
    </style>
  </template>
</dom-module>
