<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="/src/tech-menu/tech-menu.html">
<link rel="import" href="/src/tech-authentication/tech-authentication.html">

<dom-module id="proytechu-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-pages selected="{{componente}}" role="main">
      <tech-authentication componente="{{componente}}" cliente="{{cliente}}"></tech-authentication>
      <tech-menu cliente={{cliente}}></tech-menu>
    </iron-pages>

  </template>
  <script>
    class ProytechuApp extends Polymer.Element {
      static get is() {
        return 'proytechu-app';
      }

      constructor() {
         super();
       }

    }
    window.customElements.define(ProytechuApp.is, ProytechuApp);
  </script>
</dom-module>
